# ALIASES
alias zshrc='vim /etc/zsh/zshrc'
alias zshenv='vim /etc/zsh/zshenv'
alias zprofile='vim /etc/zsh/zprofile'
alias vimrc='vim ~/.vim/.vimrc'
alias v='vim -u ~/vim/.vimrc -i NONE'
alias l='ls -la | grep "^d" && ls -la | grep "^-" && ls -la | grep "^l"'
alias history='history -E'
alias _='sudo'
alias c='clear'
alias e='exit'
alias hosts='sudo vim /etc/hosts'
rl() { exec "$SHELL" }
cd() { builtin cd "$@" }
mkcd() { mkdir -p "$@" && cd "$_"; }

# HISTORY
HISTSIZE=10000 # Lines of history to keep in memory for current session
HISTFILESIZE=-1 # Number of commands to save in the file
SAVEHIST=$HISTSIZE # Number of history entries to save to disk
HISTFILE=~/.zsh_history # Where to save history to disk
HISTTIMEFORMAT=" %T %d/%m/%Y "
setopt APPEND_HISTORY
setopt BANG_HIST                 # Treat the '!' character specially during expansion.
setopt HIST_FIND_NO_DUPS         # Do not display a line previously found.
setopt HIST_IGNORE_ALL_DUPS      # Delete old recorded entry if new entry is a duplicate.
setopt HIST_IGNORE_SPACE         # Don't record an entry starting with a space.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks before recording entry.
setopt HIST_SAVE_NO_DUPS         # Don't write duplicate entries in the history file.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY
setopt SHARE_HISTORY             # Share history between all sessions.

# OPTIONS
setopt auto_cd              # cd by typing directory name if it's not a command
setopt auto_list            # automatically list choices on ambiguous completion
setopt auto_menu            # automatically use menu completion
setopt always_to_end        # move cursor to end if word had one match
setopt hist_ignore_all_dups # remove older duplicate entries from history
setopt hist_reduce_blanks   # remove superfluous blanks from history items
setopt inc_append_history   # save history entries as soon as they are entered
setopt share_history        # share history between different instances
setopt interactive_comments # allow comments in interactive shels
# Zsh force history write after each command is typed rather than after session end
PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

# PROMPT
setopt prompt_subst
autoload -Uz vcs_info
zstyle ':vcs_info:*' stagedstr ' M'
zstyle ':vcs_info:*' unstagedstr 'M'
zstyle ':vcs_info:*' check-for-changes true
zstyle ':vcs_info:*' actionformats '%F{5}[%F{white}%b%F{3}|%F{1}%a%F{5}]%f '
zstyle ':vcs_info:*' formats '%F{white} %b% %F{white}%c%F{3} %u%f'
zstyle ':vcs_info:git*+set-message:*' hooks git-untracked
zstyle ':vcs_info:*' enable git
+vi-git-untracked() {
    if [[ $(git rev-parse --is-inside-work-tree 2> /dev/null) == 'true' ]] && \
	    [[ $(git ls-files --other --directory --exclude-standard | sed q | wc -l | tr -d ' ')
	 == 1 ]] ; then
	 hook_com[unstaged]+=' %F{1}??%f'
    fi
}
PROMPT='%n@%m %~ '

# Autosuggestions
source /etc/zsh/zsh-autosuggestions/zsh-autosuggestions.zsh