# SERVER_NAME
Host SERVER_IP
    IdentityFile /Users/LOCAL_USER/.ssh/NORM_USER_NAME
    Port SSH_PORT
    PreferredAuthentications publickey
    StrictHostKeyChecking accept-new
    User NORM_USER_NAME